﻿
<form class="form-inline" role="form">
    <div class="form-group">
        <label class="sr-only" for="inputString">Input</label>
        <input type="text" id="inputString" data-bind="value: inputString" class="form-control textbox-lg" placeholder="Input" />

    </div>
    <div class="form-group">
        <label class="sr-only" for="encryptDecrypt">Encrypt / Decrypt</label>
        <select id="encryptDecrypt" class="form-control" data-bind="value: selectedOperation">
            <option value="encrypt">Encrypt</option>
            <option value="decrypt">Decrypt</option>
        </select>
    </div>
    <button type="button" data-bind="click: performOperation" class="btn btn-default">Submit</button>
</form>

<div class="output" data-bind="text: outputtedValue"></div>

@section scripts
{
    @Scripts.Render("~/bundles/appjs")
}
